@use 'variaveis';

.header {
    position: sticky;
    left: 0;
    top: 0;
    background-color: rgba(variaveis.$corDeFundo, 0.8);
    z-index: 1;
    transition: background-color .5s ease-in;

    &--is-hidden {
        background-color: rgba(variaveis.$corDeFundo, 0.2);
        transition: background-color .5s ease;
        .header {
            &__logo,&__list__item:first-child {
                opacity: 0;
                visibility: hidden;
            }
        }
    }

    &__container {
        padding: 8px 36px;
        display: flex;
        justify-content: space-between;
        

        img {
            max-width: 80px;
            width: 100%;
            margin: 5px;
        }
}
    &__list {
        display: flex;
        align-items: center;
    }
}